.main-image {
  width: 100%;
  height: 400px; /* Adjust based on your preference */
  background-size: cover;
  background-position: center;
}

/* Example breakpoints */
@media (max-width: 768px) {
  .main-image {
    background-image: url('/public/logo512.png'); /* Path to your mobile image */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-image {
    background-image: url('/public/logo192.png'); /* Path to your tablet image */
  }
}

@media (min-width: 1025px) {
  .main-image {
    background-image: url('/public/syd_side_profile.png'); /* Path to your desktop image */
  }
}

/* Target the <nav> element directly if it's not styled yet */
nav ul {
  list-style-type: none; /* Removes bullet points */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  overflow: hidden; /* Clears floated elements, if any */
  background-color: #333; /* Example background color */
}

nav ul li {
  float: left; /* Positions list items horizontally */
}

nav ul li a {
  display: block; /* Makes the entire area clickable */
  color: white; /* Text color */
  text-align: center; /* Centers text */
  padding: 14px 16px; /* Adds space around the text */
  text-decoration: none; /* Removes underline from links */
}

/* Change link color on hover */
nav ul li a:hover {
  background-color: #111; /* Darker shade on hover */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
